@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap');

body{
  color: whitesmoke;
  font-family: 'Roboto Slab', serif;
}



main {
  background: url(../imgs/backgound.jpg) repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-auto-rows: 200px;
}

header {
  grid-column: 1/-1;
  grid-row: 1;
}

.container {
  align-self: baseline;
  display: flex;
  flex-flow: row wrap;
  grid-column: 2;
  grid-row: 2;
  justify-content: center;
  margin: 40px 0 0 0;
}

aside {
  grid-column: 2;
  grid-row: 8;
}

.bio {
  margin: 40px 40px 40px 0;
}

.form {
  margin: 40px 40px 40px 0;
}

footer {
  grid-column: 1/-1;
  grid-row: 12;
}

figure {
  background-image: url(../imgs/backgound2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  margin: 0px;
  width: 300px;
}

.poster img {
  height: 65%;
  position: relative;
  top: 53px;
}

.mailer img {
  width: 150%;
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (min-width: 667px) {
  aside {
    grid-row: 10;
    margin-top: 15px;
  }
  
  figure {
    height: 400px;
    margin: 5px;
    width: 400px;
  }
}

@media only screen and (min-width: 756px) {
  aside {
    grid-row: 6;
  }
  
  .container {
    margin: 80px 0 0 0;
  }

  footer {
    grid-row: 9;
  }
}

@media only screen and (min-width: 1134px) {
  main {
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
  }

  aside {
    align-self: center;
    display: flex;
    flex-flow: column;
    grid-column: 2/3;
    grid-row: 2/6;
  }

  header {
    grid-column: 1/-1;
    grid-row: 1;
  }
  
  footer {
    grid-column: 1/-1;
    grid-row: 6;
  }
  
  .container {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    grid-column: 3/5;
    grid-row: 2/6;
    justify-content: center;
    margin: 80px 0 80px 0;
  }

  figure {
    background-image: url(../imgs/backgound2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    margin: 20px;
    width: 400px;
  }
  
  .poster img {
    height: 65%;
    position: relative;
    top: 70px;
  }
  
  .mailer img {
    width: 150%;
  }
}